Lib/*/*/bin/*
Lib/*/*/obj/*
Lib/*/bin/*
Lib/*/obj/*
*/bin/*
*/obj/*
_ReSharper.SecondSelloby/*
SecondSelloby/AppData/SecondSelloby.XML
UpgradeLog.*
_UpgradeReport_Files/*
*.suo
*.ReSharper.user
/SecondSelloby/Static/.sass-cache
/SecondSelloby/Static/node_modules
/SecondSelloby/Static/min/*
/.idea
/SecondSelloby/.idea
*.user
*.bak
**.ReSharper**
**\_ReSharper
** StyleCop.Cache
SecondSelloby/Static/css
SecondSelloby/Static/js/apps/templates
/TestResults
SecondSelloby/Logs
SecondSelloby/node/npm-debug.log
SecondSelloby/node/package.json
/SecondSelloby/Static/min_css
/SecondSelloby/Static/min_js
SecondSelloby/SecondSelloby.Publish.xml
SecondSelloby/api/Logs

CloudSellobuy/csx/
/SecondSelloby/frontend/phantom/node_modules

SecondSelloby.Workers.AttributePriceUpdater/SecondSelloby.Workers.AttributePriceUpdater.exe.licenses
SecondSelloby.Workers.AttributeRangeUpdater/SecondSelloby.Workers.AttributeRangeUpdater.exe.licenses
SecondSelloby.Workers.UpdatePartnerWallets/SecondSelloby.Workers.UpdatePartnerWallets.exe.licenses
SecondSelloby.Workers.UpdateStatisticForPartners/SecondSelloby.Workers.UpdateStatisticForPartners.exe.licenses
SecondSelloby.Workers.UsingAdServicesUpdater/SecondSelloby.Workers.UsingProductServicesUpdater.exe.licenses
/SecondSelloby/Static/partnerbanner
